<!DOCTYPE html>
<html>
<head>
  <title></title>

  <script type="text/html" id="template-form">
    <form>
      <%= Html.editorForModel(model) %>
      <input type="submit" value="save"/>
    </form>
  </script>

  <link rel="stylesheet" type="text/css" href="css/bootstrap.css"></link>


  <script type="text/javascript" src="js/jquery-underscore-backbone.min.js"></script>
  <script type="text/javascript" src="js/piewpiew.backbone-0.0.1.min.js"></script>
  <script type="text/javascript">


    Person = piewpiew.models.Model.extend({
      fields: {
        
        firstName : new piewpiew.models.fields.StringField({
          label: "First name",
          minLength: 4,
          maxLength: 6
        }),

        lastName : new piewpiew.models.fields.StringField({
          label: "Last name",
          minLength: 4,
          maxLength: 6         
        }),

        emailAddress: new piewpiew.models.fields.EmailField({
          label: "Email address"
        })
      }
    });

    Application = piewpiew.Application.extend({

      el: "#app",

      initializeModel: function() {
        this.registerModel('model', new Person({
          firstName: "Barry",
          lastName: "Smith"
        }));  
      },

      initializeView: function() {
        this.registerView('view', new FormView({
          model: this.getModel('model')
        }).bind("submit", function(formView) {
          console.log("You submitted ", formView.model.toJSON());
        }));
      },

      startup: function() {
        $(this.el).append(this.getView('view').render().$el);
      }
    });

  </script>

  
</head>
<body>
  <div class="container">
    <div id="app" class="span12"></div>
  </div>
  


  <script type="text/javascript">
    var app = new Application();

    $(function() {
      app.startup();
    });

    ItemView = piewpiew.views.View.extend({
      template: '<li><a class="show-age" href="#"><%= firstName %></a></li>',

      events: {
        'click .show-age' : 'handleClick'
      },

      handleClick : function(e) {
        alert(this.model.get("lastName"));
        e.preventDefault();
      }
    });

    PersonCollection = Backbone.Collection.extend({
      model: Person
    });

    var collection = new PersonCollection();
    var listView = new ListView({
      collection:collection,
      itemView: ItemView
      //itemTemplate: '<li><%= Html.label("name", "Name") %>:<span><%= name %></span><%= Html.label("age", "Age") %>: <span><%= age %></span></li>'
    });

    //$("#app").append(listView.render().$el);

    collection.add({firstName:"brdan", lastName:"mchon"});

  </script>
</body>
</html>